---
import ButtonJsx from './button-jsx.jsx';
import ButtonVue from './button-vue.vue';
---

<template>
  <div>
    <h1>Buttons</h1>
    <ButtonJsx />
    <ButtonVue />
  </div>
</template>

<style>
  h1 {
    color: blue;
  }
</style>
